.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./foodbg.png');
    background-size: contain;
    background-repeat: repeat;
    height: 16rem;
  }

  .SearchBar-sort-options ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2.22rem;
    color: #ffffff;
    background-color: #c0336f;
    padding: .5rem;
    list-style-type: none;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
  }
  
  .SearchBar-sort-options li:hover {
    color: #ffafd6;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    color: #b4cc35;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBar-fields input {
    width: 21rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
    border: 1px solid #c0336f;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submit {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .SearchBar-submit a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #faa73e;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
    text-decoration: none;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #f7942e;
    text-decoration: underline;
  }
  
@media only screen and (max-width: 560px) {
  .SearchBar{
    height:19rem;
    width: 100vw;
    overflow-x: hidden;
  }
  .SearchBar-sort-options{
    width:100%;
  }
  .SearchBar-sort-options ul{
    max-width: 100%;
  }
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }
@media only screen and (min-width: 1150px){
  .SearchBar-sort-options ul{
    padding-left: 25vw;
    padding-right: 25vw;
  }
}