@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.Business .image-container {
    display:flex;
    justify-content:center;
    overflow:hidden;
    align-items: center;
    margin-bottom: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2.5px solid #c0336f;
  }
  .image-container img{
    max-width: 140%;
    height:auto;
  }
  .Business h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .Business{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 1rem;
  }

  .Business-information {
    display: flex;
    flex-direction: column;
  }
  .Business-type{
    color:#faa73e;
    margin:0;
  }
  .Business-reviews h4{
    margin:1rem;

  }
  .Business-reviews p {
    font-size: .88rem;
    font-weight: 400;
    margin: 0.5rem;
  }
  
  .Business-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    margin-top:1rem;
  }
  .Business-address p{
    margin: 0;
  }
  
  .Business-reviews {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
